# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Editor directories and files
.idea/
*.sublime-workspace
*.sublime-project

# Coverage reports
htmlcov/
