[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
pandas = "*"
numpy = "==1.26.4"
elasticsearch = "*"
ollama = "*"
openai = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-elasticsearch = "*"
langchain-ollama = "*"
langchain-openai = "*"
langsmith = "*"
sentence-transformers = "*"
langchain-huggingface = "*"
tqdm = "*"
psycopg2-binary = "*"
questionary = "*"
streamlit-feedback = "*"
pgcli = "*"
prefect = "==2.20.9"
pytube = "*"
youtube-transcript-api = "*"
deep-translator = "*"
matplotlib = "*"
hyperopt = "*"
seaborn = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.10"
